.button {
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.btnRetouren {
    -fx-color:white;
    -fx-background-color:green;
    -fx-pref-width:120px;
    -fx-pref-height:30px;
    }

 .btnRetouren:hover {
 -fx-background-color: none;
  -fx-cursor:hand;
  -fx-color:black;

 }
.button:hover {
    -fx-background-color: lightgrey;
}



